body {
  background: orangered;
  height: 100%;
  margin: auto;
}
#calculator {
  width: 300px;
  height: 400px;
  background: black;
  margin: 40px auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 5px 20px 5px grey;
  border: 1px solid pink;
  color: grey;
  text-align: center;
}

div#console {
  width: 90%;
  height: 50px;
  background: #c3c2ab;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  color: black;
  font-family: verdana;
  font-size: 1.4em;
  overflow: hidden;
  text-align: right;
  word-wrap: break-word;
}
#console1 {
  font-size: 22px;
}
.row {
  width: 90%;
  display: block;
  overflow: auto;
  margin: auto;
  padding: 5px;
}
.button {
  display: inline;
  float: left;
  width: 23%;
  height: 25px;
  padding: 10px 0 6px 0;
  margin: 1%;
  background: #222;
  color: white;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  font-size: 1.5em;
  border-radius: 5px;
  box-shadow: 0 4px 1px grey;
  cursor: pointer;
}
.buttonClick {
  height: 22px;
  box-shadow: none;
}
.clear,
.delete {
  background: maroon;
}
.credit {
  width: 25%;
  margin: auto;
}
